.topnav {
  background-color: #150203;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #007fff;
  color: White;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #00072D;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
} 

.topnav {font-family: Arial, Helvetica, sans-serif;}
.titlestuff {font-family: Arial, Helvetica, sans-serif; text-align: center; font-size: 24px;}
.wikimain  {  
  padding-top: 20%;
  padding-right: 20%;
  padding-bottom: 20%;
  padding-left: 20%;
  font-family: Arial, Helvetica, sans-serif;}


 /* Dropdown Button */
.desdrop {
  background-color: #150203;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.designmenu1 {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.desdrop-content {
  display: none;
  position: absolute;
  background-color: ##FF0000;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.desdropdrop-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.desdrop-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.designmenu1:hover .desdrop-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.designmenu1:hover .desdrop {background-color: #007fff;} 
